h1 {
    color: #0000FF;
}

h2 {
    color: #FF0000;
}

table {
    border-collapse: collapse;
}

table th, table td {
    padding: 5px;
}

label {
    display: block;
    font: 1rem 'Fira Code Medium', sans-serif;
}

input, label {
    margin: .4rem 0;
}