<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Detail Employee Infor</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Create a new employee</h1>
    <form action="#" th:action="@{/employee/update}" th:object="${employeeForm}"
          method="post" novalidate="novalidate">
      <input type="hidden" th:field="*{id}" />
      <div class="form-group">
        <label>Employee No</label>
        <input type="text" class="form-control" th:field="*{empNo}" />
      </div>
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control"
               th:field="*{fullname}" />
      </div>
      <div class="form-group">
        <label>Hire Dare</label>
        <input type="datetime-local" class="form-control" th:field="*{hireDate}" />
      </div>
      <button type="submit" value="Update" class="btn btn-primary">Update</button>
    </form>
  </div>
</div><!-- /.container -->
<div th:if="${errorMessage}" th:utext="${errorMessage}" style="color:red;font-style: italic;">...</div>
<footer th:replace="layout :: footer"></footer>
</body>
</html>